body{
    background:;
    font-family:Arial;
}

.assignment{
    display:flex;
    padding:10px;
    margin:10px;
    background:;
}

.assignment{
    widows: 200px;
    padding: 10px;
}
